<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <grininfluencershipping>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>Grin\GrinModule\Model\Carrier\Method</model>
                <name>Free</name>
                <title>Grin Influencer Shipping</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </grininfluencershipping>
        </carriers>
        <grinaffiliate>
            <scripts>
                <enable>1</enable>
            </scripts>
        </grinaffiliate>
    </default>
</config>