<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <grininfluencershipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Grin\Module\Model\Carrier\Method</model>
                <shipping_cost>0</shipping_cost>
                <name>Free</name>
                <title>Grin Influencer Shipping</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </grininfluencershipping>
        </carriers>
        <grin_integration>
            <scripts>
                <active>1</active>
            </scripts>
            <webhook>
                <url>https://app.grin.co/ecommerce/magento/webhook</url>
            </webhook>
        </grin_integration>
    </default>
</config>
