<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Grin\Module\Api\RuleStagingRepositoryInterface"
                type="Grin\Module\Model\RuleStagingRepository" />
    <preference for="Grin\Module\Api\StockItemsInterface"
                type="Grin\Module\Model\StockItems"/>
    <preference for="Grin\Module\Api\Data\RequestInterface"
                type="Grin\Module\Model\Data\Request"/>
    <preference for="Grin\Module\Api\PublisherInterface"
                type="Grin\Module\Model\Queue\Publisher"/>
    <preference for="Grin\Module\Api\GrinServiceInterface"
                type="Grin\Module\Model\GrinService"/>
    <type name="Grin\Module\Model\SystemConfig">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="grin_script_active" xsi:type="string">grin_integration/scripts/active</item>
                <item name="grin_cart_widget_active" xsi:type="string">grin_integration/cartwidget/active</item>
                <item name="grin_webhook_active" xsi:type="string">grin_integration/webhook/active</item>
                <item name="grin_webhook_url" xsi:type="string">grin_integration/webhook/url</item>
                <item name="grin_webhook_token" xsi:type="string">grin_integration/webhook/token</item>
                <item name="grin_sales_rule_token" xsi:type="string">grin_integration/sales_rule/token</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\MessageQueue\MergerFactory">
        <arguments>
            <argument name="mergers" xsi:type="array">
                <item name="inventoryQtyCounterteest" xsi:type="string">Magento\ScalableInventory\Model\Merger</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="grin_module_queue_messages_listing_data_source" xsi:type="string">QueueMessageGridDataProvider</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="QueueMessageGridDataProvider"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">queue_message_status</argument>
            <argument name="resourceModel" xsi:type="string">Magento\MysqlMq\Model\ResourceModel\MessageStatus</argument>
        </arguments>
    </virtualType>

    <type name="Magento\SalesRule\Model\RulesApplier">
        <plugin name="Grin_Module::validate-sales-rule-by-token"
                type="Grin\Module\Plugin\Magento\SalesRule\Model\RulesApplier\ValidateByToken" />
    </type>
</config>
