<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Grin\Module\Api\Data\RuleStagingInterface"
                type="Grin\Module\Model\Data\RuleStaging" />
    <preference for="Grin\Module\Api\Data\StagingDataInterface"
                type="Grin\Module\Model\Data\StagingData" />

    <!-- Configuration of RuleStagingRepository -->
    <virtualType name="ruleHydrator" type="Magento\SalesRuleStaging\Model\Rule\Hydrator">
        <arguments>
            <argument name="entityRetriever" xsi:type="object">Magento\SalesRuleStaging\Model\Rule\Retriever</argument>
        </arguments>
    </virtualType>
    <virtualType name="ruleUpdateSaveSaveAction" type="Magento\Staging\Model\Entity\Update\Action\Save\SaveAction">
        <arguments>
            <argument name="entityHydrator" xsi:type="object">ruleHydrator</argument>
        </arguments>
    </virtualType>
    <virtualType name="ruleUpdateSaveAssignAction" type="Magento\Staging\Model\Entity\Update\Action\Save\AssignAction">
        <arguments>
            <argument name="entityHydrator" xsi:type="object">ruleHydrator</argument>
        </arguments>
    </virtualType>
    <virtualType name="ruleUpdateDeleteSaveAction" type="Magento\Staging\Model\Entity\Update\Action\Delete\SaveAction">
        <arguments>
            <argument name="entityRetriever" xsi:type="object">Magento\SalesRuleStaging\Model\Rule\Retriever</argument>
            <argument name="entityName" xsi:type="string">Magento\SalesRule\Api\Data\RuleInterface</argument>
        </arguments>
    </virtualType>
    <virtualType name="ruleUpdateDeleteAssignAction" type="Magento\Staging\Model\Entity\Update\Action\Delete\AssignAction">
        <arguments>
            <argument name="entityRetriever" xsi:type="object">Magento\SalesRuleStaging\Model\Rule\Retriever</argument>
            <argument name="entityName" xsi:type="string">Magento\SalesRule\Api\Data\RuleInterface</argument>
        </arguments>
    </virtualType>
    <virtualType name="ruleUpdateDeleteRemoveAction" type="Magento\Staging\Model\Entity\Update\Action\Delete\RemoveAction">
        <arguments>
            <argument name="entityRetriever" xsi:type="object">Magento\SalesRuleStaging\Model\Rule\Retriever</argument>
            <argument name="entityName" xsi:type="string">Magento\SalesRule\Api\Data\RuleInterface</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Staging\Model\Entity\Update\Action\Pool">
        <arguments>
            <argument name="actions" xsi:type="array">
                <item name="Magento\SalesRule\Api\Data\RuleInterface" xsi:type="array">
                    <item name="save" xsi:type="array">
                        <item name="save" xsi:type="string">ruleUpdateSaveSaveAction</item>
                        <item name="assign" xsi:type="string">ruleUpdateSaveAssignAction</item>
                    </item>
                    <item name="delete" xsi:type="array">
                        <item name="save" xsi:type="string">ruleUpdateDeleteSaveAction</item>
                        <item name="assign" xsi:type="string">ruleUpdateDeleteAssignAction</item>
                        <item name="remove" xsi:type="string">ruleUpdateDeleteRemoveAction</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <!-- /Configuration of RuleStagingRepository -->

    <type name="\Magento\Catalog\Api\Data\ProductExtensionInterface">
        <plugin name="Grin_Module::attribute-data"
                type="Grin\Module\Plugin\AttributeData" />
    </type>
</config>
